{% load static %}
<link rel="stylesheet" href="{% static 'authentication/styles/base.css' %}" type="text/css">

<nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'authentication:home' %}"><img id="upper-logo" src="{% static 'authentication/images/logobgw.png' %}" alt="logo">Convy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <form class="d-flex">
        {% if user.is_authenticated %}
            <a href="{% url 'authentication:signout' %}" class="btn" id="right-button" type="submit">SIGN OUT</a>
        {% else %}
            <a href="{% url 'authentication:signup' %}" class="btn" id="left-button" type="submit">SIGN UP</a>
            <a href="{% url 'authentication:signin' %}" class="btn" id="right-button" type="submit">SIGN IN</a>
        {% endif %}
    </form>
    </div>
</nav>


{% if user.is_authenticated %}
<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'convy_calendar:calendars' %}">Calendar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'group:group' %}">Groups</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'meeting:meeting' %}">Meetings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'task:taskgroup-list' %}" style="margin-right: 50px;">Tasks</a>
    </li>
</ul>
{% endif %}