{% extends 'authentication/base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'authentication/styles/main.css' %}" type="text/css">

    <div class="register">
        <h1>Create Account</h1>
        <hr>
        <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-secondary" type="submit" value="Sign Up">
        </form>
    </div>
    <br>
    <p>Already have an account? <a href="{% url 'authentication:signin' %}">SIGN IN</a></p>
{% endblock %}