{% extends 'authentication/base.html' %}

{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'authentication/styles/base.css' %}" type="text/css">

    <a href="{% url 'task:taskgroup-add' %}" class="add">&plus; Task Group</a>
    <br> <br>
    {% for taskgroup in taskgroup_list %}
    <div class="card" style="background-color: #F0A0A0">
        <div class="card-body">
            <div style="color: rgba(224, 76, 76, 0.56); font-size: 20px">
                {{ taskgroup.organisation | upper }}<br>
            </div>
            <div style="color: white; font-size: 35px;">
                {{ taskgroup }} <br>
            </div>
            <div style="color: white; font-size: 20px;">
                Due: {{ taskgroup.deadline }} <br>
            </div>
            <hr>
            <div align="right">
                <a href="{% url 'task:task-list' taskgroup.id %}" class="btn btn-outline-primary">Task</a>
                <a href="{% url 'task:taskgroup-update' taskgroup.id %}" class="btn btn-outline-success">Update</a>
                <a href="{% url 'task:taskgroup-delete' taskgroup.id %}" class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
    </div>
    <br>

    <style>
        .add {
            text-decoration: none;
            font-size: 20px;
        }

        .add:hover {
            color: white;
        }
    </style>
    {% endfor %}
{% endblock %}