{% extends 'authentication/base.html' %}

{% load static %}

{% block title %} Convy - Announcement {% endblock title %}

{% block content %}

    <h1>Announcement</h1>
    <hr>
    <a href="{% url 'group:add-announcement' %}" class="add" style="text-decoration: 0; font-size: 20px;">&plus; Add Announcement</a>
    <br>
    {% for announcement in announcements %}
    <div class="card">
        <div class="card-body">
            <div class="announcement">
                <div class="title">{{ announcement.title }}</div> <br>
                <div class="content">{{ announcement.body }}</div>
                <div class="time">{{ announcement.published }}</div> <br>
                <hr>
                <div class="update-delete">
                    <a href="{% url 'group:update-announcement' announcement.id %}" class="btn">Update</a>
                    <a href="{% url 'group:delete-announcement' announcement.id %}" class="btn">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}

    <style>
        body {
            color: white;
            width: 100%;
        }

        .card {
            background-color: #F0A0A0;
            display: flex;
        }

        .title {
            font-size: 35px;
        }

        .content {
            margin-top: -20px;
            font-size: 20px;
        }

        .time {
            float: right;
        }

        .update-delete {
            float: right;
        }
    </style>

{% endblock %}