{% extends 'authentication/base.html' %}

{% load static %}

{% block title %} Convy - Calendar {% endblock title %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/calender.css' %}">
{% endblock extracss %}

{% block content %}
<div class = "all">
    <div class="event-list">
        <a class="btn" href="{% url 'convy_calendar:all_events' %}"> Event List </a>
    </div>
    <div class="clearfix">
        <a class="btn" href="{% url 'convy_calendar:event_new' %}"> + New Event </a>
        <div class="link">
            <a id="link1" href="{% url 'convy_calendar:calendars' %}?{{ prev_month }}"> << Previous Month </a>
            <a id="link2" href="{% url 'convy_calendar:calendars' %}?{{ next_month }} "> Next Month >> </a>
        </div>
    </div>
</div>
<div style="color: white;">
    {{ calendar }}
</div>

<style>
    .all {
        display: flex;
        justify-content: space-between;
    }

    .clearfix {
        display: flex;
        justify-content: flex-end;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        color: white;
    }

    .btn:hover {
        color: white;
    }

    .event-list {
        margin: auto;
        margin-left: 0;
    }

    .link {
        margin-top: 5px;
    }

    #link1 {
        margin-left: 20px;
    }

    #link2 {
        margin-left: 20px;
    }
</style>
{% endblock %}
