{% extends 'authentication/base.html' %}

{% block title %} Convy - Event Details {% endblock %}

{% block content %}
    <div class="container">
        <div class="clearfix">
            <a class="btn btn-primary left" href="{% url 'convy_calendar:calendars' %}"> Calendar </a>
            <a class="btn btn-info right mr-2" href="{% url 'convy_calendar:event_edit' event.pk %}"> Edit Event </a>
            <a class="btn btn-info right mr-2" href="{% url 'convy_calendar:event_delete' event.pk %}"> Delete Event </a>
        </div>
        <br>
        
        <div class="clearfix">
            <h1>Event Details</h1>
            <hr>
            <h3 style="color: white;">Event Name: {{ event.title }}</h3>
            <p>From <span>{{ event.start_time }}</span> to <span>{{ event.end_time }}</span></p>
            <h5 style="color: white;">Description:</h5>
            <p>{{ event.description }}</p>
        </div>
    </div>

    <style>
        .btn:hover {
            color: white;
        }
    </style>
{% endblock %}
